<html>
    <head>
        <meta charset="UTF-8" />
        <title>Node.js Child-process Test</title>
    </head>
    <body>
        <!-- <form action="/pyTest/process" method="POST">
            <label for="input1">Input 1:</label>
            <input type="text" id="input1" name="input1" required>
            <br>
            <label for="input2">Input 2:</label>
            <input type="text" id="input2" name="input2" required>
            <br>
            <label for="input3">Input 3:</label>
            <input type="text" id="input3" name="input3" required>
            <br>
            <button type="submit">Submit</button>
        </form> -->

        <h1>Python Script Location Output</h1>
        <ul>
            <% values.forEach(value => { %>
                <li><%= value %></li>
            <% }); %>
        </ul>
    </body>
</html>