<html>
    <head>
        <meta charset="UTF-8" />
        <title>Node.js Child-process Test</title>
    </head>
    <body>
        <form action="/process" method="POST">
            <label for="input1">Input 1:</label>
            <input type="text" id="input1" name="input1" required>
            <br>
            <label for="input2">Input 2:</label>
            <input type="text" id="input2" name="input2" required>
            <br>
        </form>
        <p>Result : <%= number %></p>
        
    </body>
</html>