<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <button onclick="location.href='/selectChimney2'">위치측정</button>
    <button onclick="location.href='/moveDrone2'">코스이동</button>
</body>
</html>
