<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좌표 저장</title>
</head>
<body>
    <h1>좌표 저장</h1>
    <form action="/saveLocation/save" method="POST">
        <div>
            <label for="chimney">Select Chimney:</label>
            <span id="chimney"><%= chimneyNumber %></span>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>
