<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>위치 측정</title>
</head>
<body>
    <form action="/saveLocation2" method="POST">
        <label for="chimneyNumber">코스 번호 입력</label>
        <input type="number" id="chimneyNumber" name="chimneyNumber" required>
        <button type="submit">위치 측정</button>
    </form>
</body>
</html>
