<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimney Selection</title>
</head>
<body>
    <h1>Select a Chimney</h1>
    <form action="/moveDrone/move" method="post">
        <input type="radio" id="chimney1" name="chimney" value="1" required>
        <label for="굴뚝1">굴뚝1</label><br>
        <input type="radio" id="chimney2" name="chimney" value="2">
        <label for="굴뚝2">굴뚝2</label><br>
        <input type="radio" id="chimney3" name="chimney" value="3">
        <label for="굴뚝3">굴뚝3</label><br><br>
        <input type="radio" id="chimney4" name="chimney" value="3">
        <label for="굴뚝4">굴뚝4</label><br><br>
        <input type="radio" id="chimney5" name="chimney" value="3">
        <label for="굴뚝5">굴뚝5</label><br><br>
        <button type="submit">위치 저장</button>
    </form>
</body>
</html>
s